In [8]:
import pandas as pd

In [9]:
df=pd.read_csv(r'C:\Users\vinja\Desktop\BehaviorGaurd-AI\data\raw\users.csv')

In [10]:
df.shape

(4000, 12)

In [11]:
df.head()

,employee_name,user_id,email,role,projects,business_unit,functional_unit,department,team,supervisor,start_date,end_date
0,Nicholas Fletcher Pruitt,NFP2441,Nicholas.Fletcher.Pruitt@dtaa.com,ITAdmin,NaN,1,1 - Adminstration,5 - Security,8 - ElectronicSecurity,Madison Charissa Malone,2009-12-01 00:00:00,2011-06-01
1,Abraham Dante Rodgers,ADR1517,Abraham.Dante.Rodgers@dtaa.com,ProductionLineWorker,NaN,1,5 - Manufacturing_Commercial,3 - Assembly,4 - AssemblyDept,Mark William Horne,2009-12-01 00:00:00,2011-06-01
2,Medge Wilma Blackburn,MWB4000,Medge.Wilma.Blackburn@dtaa.com,ProductionLineWorker,NaN,1,6 - Manufacturing_Government,3 - Assembly,14 - AssemblyDept,Hillary Zenaida Adkins,2009-12-01 00:00:00,2011-06-01
3,Meghan Laurel Salazar,MLS2856,Meghan.Laurel.Salazar@dtaa.com,ProductionLineWorker,NaN,1,6 - Manufacturing_Government,3 - Assembly,8 - AssemblyDept,Demetria Sage Melendez,2009-12-01 00:00:00,2011-06-01
4,Beau Todd Romero,BTR2026,Beau.Todd.Romero@dtaa.com,MechanicalEngineer,NaN,1,3 - ResearchAndEngineering_Government_Domestic,4 - Engineering,16 - TestAndEvalualtion,Elijah Valentine Fuentes,2009-12-01 00:00:00,2011-06-01

In [12]:
df.isna().sum()

employee_name         0
user_id               0
email                 0
role                  0
projects           3317
business_unit         0
functional_unit       2
department           22
team                158
supervisor            1
start_date            0
end_date              0
dtype: int64

In [13]:
df.duplicated().sum()

np.int64(0)

In [14]:
df.fillna('Unassigned',inplace=True)

,employee_name,user_id,email,role,projects,business_unit,functional_unit,department,team,supervisor,start_date,end_date
0,Nicholas Fletcher Pruitt,NFP2441,Nicholas.Fletcher.Pruitt@dtaa.com,ITAdmin,Unassigned,1,1 - Adminstration,5 - Security,8 - ElectronicSecurity,Madison Charissa Malone,2009-12-01 00:00:00,2011-06-01
1,Abraham Dante Rodgers,ADR1517,Abraham.Dante.Rodgers@dtaa.com,ProductionLineWorker,Unassigned,1,5 - Manufacturing_Commercial,3 - Assembly,4 - AssemblyDept,Mark William Horne,2009-12-01 00:00:00,2011-06-01
2,Medge Wilma Blackburn,MWB4000,Medge.Wilma.Blackburn@dtaa.com,ProductionLineWorker,Unassigned,1,6 - Manufacturing_Government,3 - Assembly,14 - AssemblyDept,Hillary Zenaida Adkins,2009-12-01 00:00:00,2011-06-01
3,Meghan Laurel Salazar,MLS2856,Meghan.Laurel.Salazar@dtaa.com,ProductionLineWorker,Unassigned,1,6 - Manufacturing_Government,3 - Assembly,8 - AssemblyDept,Demetria Sage Melendez,2009-12-01 00:00:00,2011-06-01
4,Beau Todd Romero,BTR2026,Beau.Todd.Romero@dtaa.com,MechanicalEngineer,Unassigned,1,3 - ResearchAndEngineering_Government_Domestic,4 - Engineering,16 - TestAndEvalualtion,Elijah Valentine Fuentes,2009-12-01 00:00:00,2011-06-01
...,...,...,...,...,...,...,...,...,...,...,...,...
3995,Alfreda Jeanette Stephens,AJS0616,Alfreda.Jeanette.Stephens@dtaa.com,SoftwareDeveloper,Project 26,1,3 - ResearchAndEngineering_Government_Domestic,3 - SoftwareManagement,2 - DesktopSoftware,Hedy Ivana Pennington,2009-12-01 00:00:00,2011-06-01
3996,Zachery Oscar Mayer,ZOM0746,Zachery.Oscar.Mayer@dtaa.com,ElectricalEngineer,Unassigned,1,4 - ResearchAndEngineering_Government_Foreign,3 - SoftwareManagement,3 - EmbeddedSoftware,Grant Lamar Fulton,2009-12-01 00:00:00,2011-06-01
3997,Ginger Jeanette Trevino,GJT1292,Ginger.Jeanette.Trevino@dtaa.com,ElectricalEngineer,Unassigned,1,3 - ResearchAndEngineering_Government_Domestic,4 - Engineering,8 - ElectricalEngineering,Megan Kalia Dawson,2009-12-01 00:00:00,2011-06-01
3998,Benjamin Lucian Duncan,BLD2227,Benjamin.Lucian.Duncan@dtaa.com,ProductionLineWorker,Unassigned,1,6 - Manufacturing_Government,3 - Assembly,6 - AssemblyDept,Drew Owen Coleman,2009-12-01 00:00:00,2011-06-01
3999,Jarrod Louis Fields,JLF3219,Jarrod.Louis.Fields@dtaa.com,ElectricalEngineer,Unassigned,1,4 - ResearchAndEngineering_Government_Foreign,4 - Engineering,23 - ElectricalEngineering,Driscoll Darius Lawrence,2009-12-01 00:00:00,2011-02-01

In [15]:
df.isna().sum()

employee_name      0
user_id            0
email              0
role               0
projects           0
business_unit      0
functional_unit    0
department         0
team               0
supervisor         0
start_date         0
end_date           0
dtype: int64

In [16]:
df.shape

(4000, 12)

In [17]:
cols=df.columns
cols

Index(['employee_name', 'user_id', 'email', 'role', 'projects',
       'business_unit', 'functional_unit', 'department', 'team', 'supervisor',
       'start_date', 'end_date'],
      dtype='str')

In [18]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   employee_name    4000 non-null   str
 1   user_id          4000 non-null   str
 2   email            4000 non-null   str
 3   role             4000 non-null   str
 4   projects         4000 non-null   str
 5   business_unit    4000 non-null   int64
 6   functional_unit  4000 non-null   str
 7   department       4000 non-null   str
 8   team             4000 non-null   str
 9   supervisor       4000 non-null   str
 10  start_date       4000 non-null   str
 11  end_date         4000 non-null   str
dtypes: int64(1), str(11)
memory usage: 375.1 KB

In [19]:
df.describe()

       business_unit
count         4000.0
mean             1.0
std              0.0
min              1.0
25%              1.0
50%              1.0
75%              1.0
max              1.0

In [20]:
df.sample(10)

,employee_name,user_id,email,role,projects,business_unit,functional_unit,department,team,supervisor,start_date,end_date
1362,Hedda Jorden Valentine,HJV1586,Hedda.Jorden.Valentine@dtaa.com,Salesman,Unassigned,1,8 - SalesAndMarketing_Commercial,2 - Sales,2 - RegionalSales,Troy Hayes Massey,2009-12-01 00:00:00,2011-06-01
8,Fulton August Jackson,FAJ3101,Fulton.August.Jackson@dtaa.com,SystemsEngineer,Unassigned,1,2 - ResearchAndEngineering_Commercial,4 - Engineering,24 - SystemsEngineering,Hop Alfonso Palmer,2009-12-01 00:00:00,2011-06-01
2801,Indira Rose Walker,IRW2130,Indira.Rose.Walker@dtaa.com,SystemsEngineer,Unassigned,1,4 - ResearchAndEngineering_Government_Foreign,4 - Engineering,15 - SystemsEngineering,Leo Travis Rojas,2009-12-01 00:00:00,2011-06-01
20,Kai Melissa Bradford,KMB3003,Kai.Melissa.Bradford@dtaa.com,ChiefEngineer,Project 1,1,3 - ResearchAndEngineering_Government_Domestic,4 - Engineering,23 - ElectricalEngineering,Zahir Byron Wells,2009-12-01 00:00:00,2011-06-01
3520,Barry Xavier Knowles,BXK2091,Barry.Xavier.Knowles@dtaa.com,ElectricalEngineer,Unassigned,1,4 - ResearchAndEngineering_Government_Foreign,4 - Engineering,13 - ElectricalEngineering,Barrett Ulysses Shepherd,2009-12-01 00:00:00,2011-06-01
3441,Dillon Scott Austin,DSA3620,Dillon.Scott.Austin@dtaa.com,StockroomClerk,Unassigned,1,5 - Manufacturing_Commercial,3 - Assembly,11 - Stockroom,Rafael Jeremy Sellers,2009-12-01 00:00:00,2011-06-01
2314,Ora Sarah Cleveland,OSC1925,Ora.Sarah.Cleveland@dtaa.com,ComputerScientist,Unassigned,1,3 - ResearchAndEngineering_Government_Domestic,3 - SoftwareManagement,8 - DesktopSoftware,Dora Tallulah Tran,2009-12-01 00:00:00,2011-06-01
3770,Ulric Dane Bender,UDB1170,Ulric.Dane.Bender@dtaa.com,SystemsEngineer,Unassigned,1,2 - ResearchAndEngineering_Commercial,4 - Engineering,10 - SystemsEngineering,Chandler Quamar Cantrell,2009-12-01 00:00:00,2011-06-01
1350,Price Ian Parks,PIP3915,Price.Ian.Parks@dtaa.com,StockroomClerk,Unassigned,1,5 - Manufacturing_Commercial,3 - Assembly,13 - Stockroom,Winter Adele Hahn,2009-12-01 00:00:00,2011-06-01
618,Ebony Nichole Mcknight,ENM2269,Ebony.Nichole.Mcknight@dtaa.com,Salesman,Unassigned,1,8 - SalesAndMarketing_Commercial,2 - Sales,3 - RegionalSales,Gillian Nelle Holland,2009-12-01 00:00:00,2011-06-01

In [21]:
#converting start date and end date to date-time datatype
df['start_date']=pd.to_datetime(df['start_date'])
df['end_date']=pd.to_datetime(df['end_date'])

In [22]:
df['tenure_days']=df['end_date']-df['start_date']

In [23]:
df.describe()

,business_unit,start_date,end_date,tenure_days
count,4000.0,4000,4000,4000
mean,1.0,2009-12-01 00:00:00,2011-05-08 15:02:31.200000,523 days 15:02:31.200000
min,1.0,2009-12-01 00:00:00,2010-02-01 00:00:00,62 days 00:00:00
25%,1.0,2009-12-01 00:00:00,2011-06-01 00:00:00,547 days 00:00:00
50%,1.0,2009-12-01 00:00:00,2011-06-01 00:00:00,547 days 00:00:00
75%,1.0,2009-12-01 00:00:00,2011-06-01 00:00:00,547 days 00:00:00
max,1.0,2009-12-01 00:00:00,2011-06-01 00:00:00,547 days 00:00:00
std,0.0,NaN,NaN,84 days 16:47:02.584472

In [24]:
#checking the unique values in each column
df['role'].value_counts()

role
ProductionLineWorker        413
ElectricalEngineer          406
Technician                  401
Salesman                    358
MechanicalEngineer          295
StockroomClerk              280
MaterialsEngineer           117
Scientist                   113
HardwareEngineer            112
SystemsEngineer             111
ComputerScientist           106
Mathematician               106
SecurityGuard               105
ITAdmin                     100
Physicist                    94
SoftwareDeveloper            93
ComputerProgrammer           91
AdministrativeAssistant      84
Manager                      80
TestEngineer                 78
WebDeveloper                 74
ChiefEngineer                72
TechnicalWriter              57
SoftwareQualityEngineer      42
SoftwareEngineer             38
Supervisor                   28
NursePractitioner            27
Director                     23
LabManager                   21
FieldServiceEngineer         14
ProjectManager               12
VicePresident                10
Statistician                  6
HumanResourceSpecialist       6
PurchasingClerk               5
Engineer                      5
IndustrialEngineer            4
Attorney                      3
Accountant                    3
Nurse                         1
Economist                     1
InstructionalCoordinator      1
President                     1
FinancialAnalyst              1
HealthSafetyEngineer          1
AdministrativeStaff           1
Name: count, dtype: int64

In [25]:
df.columns

Index(['employee_name', 'user_id', 'email', 'role', 'projects',
       'business_unit', 'functional_unit', 'department', 'team', 'supervisor',
       'start_date', 'end_date', 'tenure_days'],
      dtype='str')

In [26]:
#converting all columns to lowercase
df.employee_name=df.employee_name.str.lower()
df.email=df.email.str.lower()
df.role=df.role.str.lower()
df.projects=df.projects.str.lower()
df.department=df.department.str.lower()
df.functional_unit=df.functional_unit.str.lower()
df.supervisor=df.supervisor.str.lower()
df.team=df.team.str.lower()

In [27]:
df.sample(5)

,employee_name,user_id,email,role,projects,business_unit,functional_unit,department,team,supervisor,start_date,end_date,tenure_days
982,mara azalia william,MAW0532,mara.azalia.william@dtaa.com,technicalwriter,project 24,1,2 - researchandengineering_commercial,4 - engineering,1 - publications,sonia francesca leblanc,2009-12-01,2011-06-01,547 days
3202,sigourney candice miller,SCM3950,sigourney.candice.miller@dtaa.com,productionlineworker,unassigned,1,5 - manufacturing_commercial,3 - assembly,14 - assemblydept,keegan noah riggs,2009-12-01,2011-06-01,547 days
2787,emily martina hensley,EMH1957,emily.martina.hensley@dtaa.com,mechanicalengineer,unassigned,1,3 - researchandengineering_government_domestic,4 - engineering,12 - mechanicalengineering,lisandra inez myers,2009-12-01,2011-06-01,547 days
895,graham daniel house,GDH0108,graham.daniel.house@dtaa.com,administrativeassistant,unassigned,1,2 - researchandengineering_commercial,4 - engineering,3 - electricalengineering,fredericka kessie stein,2009-12-01,2011-06-01,547 days
3495,anthony caesar rosa,ACR0331,anthony.caesar.rosa@dtaa.com,electricalengineer,unassigned,1,6 - manufacturing_government,2 - manufacturingengineering,unassigned,jane sarah barron,2009-12-01,2011-06-01,547 days

checking unique values in each column

In [28]:
df['role'].unique()

<StringArray>
[                 'itadmin',     'productionlineworker',
       'mechanicalengineer',                  'manager',
        'materialsengineer',        'computerscientist',
          'systemsengineer',         'hardwareengineer',
            'securityguard',               'technician',
           'stockroomclerk',                'scientist',
            'chiefengineer',            'mathematician',
       'electricalengineer',                'physicist',
          'technicalwriter',     'fieldserviceengineer',
                 'salesman',             'webdeveloper',
  'softwarequalityengineer',               'supervisor',
             'testengineer',          'purchasingclerk',
  'administrativeassistant',           'projectmanager',
       'computerprogrammer',         'softwareengineer',
        'nursepractitioner',                 'director',
                 'engineer',        'softwaredeveloper',
            'vicepresident',       'industrialengineer',
             'statistician',                    'nurse',
                'economist',  'humanresourcespecialist',
               'labmanager', 'instructionalcoordinator',
                'president',         'financialanalyst',
                 'attorney',     'healthsafetyengineer',
      'administrativestaff',               'accountant']
Length: 46, dtype: str

In [29]:
df['projects'].unique()

<StringArray>
['unassigned', 'project 31', 'project 13',  'project 1',  'project 0',
 'project 73', 'project 80', 'project 46', 'project 21', 'project 43',
 'project 47', 'project 91', 'project 23', 'project 12',  'project 4',
  'project 7', 'project 30', 'project 68', 'project 50', 'project 57',
 'project 75', 'project 16', 'project 20', 'project 32', 'project 61',
 'project 48', 'project 29', 'project 28', 'project 44', 'project 10',
 'project 63', 'project 60',  'project 2', 'project 40', 'project 38',
 'project 22',  'project 6', 'project 59', 'project 36', 'project 11',
 'project 39', 'project 55',  'project 9', 'project 42', 'project 56',
 'project 27', 'project 88', 'project 62', 'project 95', 'project 34',
 'project 45', 'project 64', 'project 25', 'project 33', 'project 71',
 'project 97', 'project 17',  'project 5', 'project 82', 'project 53',
 'project 79', 'project 37', 'project 96', 'project 81', 'project 49',
 'project 70', 'project 89', 'project 26', 'project 77', 'project 83',
 'project 78', 'project 52', 'project 69', 'project 92', 'project 35',
 'project 76', 'project 84', 'project 93', 'project 87', 'project 15',
 'project 41', 'project 24', 'project 66', 'project 72', 'project 19',
 'project 58', 'project 14',  'project 8', 'project 90',  'project 3',
 'project 18', 'project 94', 'project 67', 'project 74', 'project 54',
 'project 85', 'project 86', 'project 65', 'project 98', 'project 51']
Length: 100, dtype: str

In [30]:
df['team'].unique()

<StringArray>
[    '8 - electronicsecurity',           '4 - assemblydept',
          '14 - assemblydept',           '8 - assemblydept',
    '16 - testandevalualtion',        '5 - desktopsoftware',
  '14 - materialsengineering',    '10 - systemsengineering',
    '24 - systemsengineering',       '6 - embeddedsoftware',
        '8 - desktopsoftware',       '7 - buildingsecurity',
   '6 - regionalfieldservice',              '7 - stockroom',
   '1 - regionalfieldservice',   '4 - regionalfieldservice',
                    '3 - lab',   '3 - regionalfieldservice',
              '1 - stockroom', '23 - electricalengineering',
                    '7 - lab',     '5 - systemsengineering',
 '18 - electricalengineering',             '13 - stockroom',
  '3 - electricalengineering',    '25 - systemsengineering',
           '1 - publications',                    '6 - lab',
    '20 - systemsengineering',          '3 - regionalsales',
 '12 - mechanicalengineering',            '9 - websoftware',
           '6 - assemblydept',                 'unassigned',
                    '1 - sqa',            '4 - websoftware',
              '5 - stockroom',    '11 - testandevalualtion',
      '12 - buildingsecurity',                    '1 - lab',
          '2 - regionalsales',          '4 - regionalsales',
    '15 - systemsengineering', '22 - mechanicalengineering',
            '7 - websoftware',   '4 - materialsengineering',
  '8 - electricalengineering',     '6 - testandevalualtion',
 '17 - mechanicalengineering',                    '2 - lab',
          '5 - regionalsales',              '9 - stockroom',
          '12 - assemblydept',          '1 - regionalsales',
                    '4 - lab',          '10 - assemblydept',
              '3 - stockroom',       '5 - buildingsecurity',
   '2 - regionalfieldservice',   '9 - materialsengineering',
          '6 - regionalsales',                    '5 - lab',
   '5 - regionalfieldservice',  '2 - mechanicalengineering',
     '2 - electronicsecurity',       '3 - embeddedsoftware',
    '21 - testandevalualtion',           '2 - assemblydept',
       '3 - buildingsecurity',    '10 - electronicsecurity',
  '7 - mechanicalengineering',        '2 - desktopsoftware',
     '4 - electronicsecurity',             '11 - stockroom',
 '13 - electricalengineering',                '7 - medical',
                '5 - medical',       '1 - buildingsecurity',
                '6 - medical',           '10 - websoftware',
  '19 - materialsengineering',                '1 - medical',
          '7 - regionalsales',       '9 - buildingsecurity',
      '11 - buildingsecurity',     '6 - electronicsecurity',
                '3 - medical',                '4 - medical',
                '2 - medical',   '7 - regionalfieldservice']
Length: 90, dtype: str

In [31]:
df.department.unique()

<StringArray>
[                '5 - security',                 '3 - assembly',
              '4 - engineering',       '3 - softwaremanagement',
             '3 - fieldservice',                 '2 - research',
                    '2 - sales', '2 - manufacturingengineering',
                  '2 - pricing',               '1 - purchasing',
        '1 - projectmanagement',               '1 - accounting',
                   'unassigned',                   '4 - safety',
           '4 - qualitycontrol',           '1 - marketanalysis',
    '1 - industrialengineering',        '3 - financialplanning',
        '2 - employeerelations',                '1 - personnel',
                 '3 - training',                '3 - contracts',
                  '2 - payroll']
Length: 23, dtype: str

Adding new features

In [32]:
admin_roles = [
    'itadmin', 'president', 'vicepresident', 'director', 
    'chiefengineer', 'manager', 'accountant', 'attorney', 
    'humanresourcespecialist', 'systemsengineer', 'securityguard', 
    'financialanalyst', 'administrativeassistant', 'projectmanager',
    'labmanager', 'purchasingclerk', 'supervisor'
]

In [33]:
# 1. Strip whitespace from strings just in case
df['role'] = df['role'].str.strip()
df['supervisor'] = df['supervisor'].str.strip()
df['projects'] = df['projects'].str.strip()

# 2. Tenure check (is_new)
df['is_new'] = (df['tenure_days'].dt.days < 100).astype(int)

# 3. Supervisor and Project checks (using != 'unassigned')
df['has_supervisor'] = (df['supervisor'] != 'unassigned').astype(int)
df['has_project'] = (df['projects'] != 'unassigned').astype(int)

# 4. Privileged check (using .isin)
df['is_previliged'] = df['role'].isin(admin_roles).astype(int)

# 5. Rare Role check (count occurrences across the whole column)
# This maps the value_counts back to the original rows
role_counts = df['role'].value_counts()
df['rare_role'] = df['role'].map(role_counts).le(5).astype(int)

In [34]:
df.head()

,employee_name,user_id,email,role,projects,business_unit,functional_unit,department,team,supervisor,start_date,end_date,tenure_days,is_new,has_supervisor,has_project,is_previliged,rare_role
0,nicholas fletcher pruitt,NFP2441,nicholas.fletcher.pruitt@dtaa.com,itadmin,unassigned,1,1 - adminstration,5 - security,8 - electronicsecurity,madison charissa malone,2009-12-01,2011-06-01,547 days,0,1,0,1,0
1,abraham dante rodgers,ADR1517,abraham.dante.rodgers@dtaa.com,productionlineworker,unassigned,1,5 - manufacturing_commercial,3 - assembly,4 - assemblydept,mark william horne,2009-12-01,2011-06-01,547 days,0,1,0,0,0
2,medge wilma blackburn,MWB4000,medge.wilma.blackburn@dtaa.com,productionlineworker,unassigned,1,6 - manufacturing_government,3 - assembly,14 - assemblydept,hillary zenaida adkins,2009-12-01,2011-06-01,547 days,0,1,0,0,0
3,meghan laurel salazar,MLS2856,meghan.laurel.salazar@dtaa.com,productionlineworker,unassigned,1,6 - manufacturing_government,3 - assembly,8 - assemblydept,demetria sage melendez,2009-12-01,2011-06-01,547 days,0,1,0,0,0
4,beau todd romero,BTR2026,beau.todd.romero@dtaa.com,mechanicalengineer,unassigned,1,3 - researchandengineering_government_domestic,4 - engineering,16 - testandevalualtion,elijah valentine fuentes,2009-12-01,2011-06-01,547 days,0,1,0,0,0

In [35]:
(df['role']=='itadmin').sum()

np.int64(100)

In [36]:
df.describe()

,business_unit,start_date,end_date,tenure_days,is_new,has_supervisor,has_project,is_previliged,rare_role
count,4000.0,4000,4000,4000,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000
mean,1.0,2009-12-01 00:00:00,2011-05-08 15:02:31.200000,523 days 15:02:31.200000,0.012000,0.999750,0.170750,0.166250,0.006750
min,1.0,2009-12-01 00:00:00,2010-02-01 00:00:00,62 days 00:00:00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.0,2009-12-01 00:00:00,2011-06-01 00:00:00,547 days 00:00:00,0.000000,1.000000,0.000000,0.000000,0.000000
50%,1.0,2009-12-01 00:00:00,2011-06-01 00:00:00,547 days 00:00:00,0.000000,1.000000,0.000000,0.000000,0.000000
75%,1.0,2009-12-01 00:00:00,2011-06-01 00:00:00,547 days 00:00:00,0.000000,1.000000,0.000000,0.000000,0.000000
max,1.0,2009-12-01 00:00:00,2011-06-01 00:00:00,547 days 00:00:00,1.000000,1.000000,1.000000,1.000000,1.000000
std,0.0,NaN,NaN,84 days 16:47:02.584472,0.108899,0.015811,0.376337,0.372351,0.081891

defining the weights and formula for risk score

In [37]:
df['risk_score']=0.3*df['is_previliged']+.2*df['rare_role']+.2*(1-df['has_supervisor'])+.15*df['is_new']+.15*(1-df['has_project'])

In [38]:
df.sample(10)

,employee_name,user_id,email,role,projects,business_unit,functional_unit,department,team,supervisor,start_date,end_date,tenure_days,is_new,has_supervisor,has_project,is_previliged,rare_role,risk_score
968,shannon amela vazquez,SAV3457,shannon.amela.vazquez@dtaa.com,technician,unassigned,1,9 - salesandmarketing_government,3 - fieldservice,5 - regionalfieldservice,hedy kristen mcfadden,2009-12-01,2011-06-01,547 days,0,1,0,0,0,0.15
2867,darrel yvonne holloway,DYH0315,darrel.yvonne.holloway@dtaa.com,engineer,project 57,1,5 - manufacturing_commercial,4 - qualitycontrol,unassigned,hamilton jonathan beck,2009-12-01,2011-06-01,547 days,0,1,1,0,1,0.20
2096,levi zahir maddox,LZM0306,levi.zahir.maddox@dtaa.com,productionlineworker,unassigned,1,5 - manufacturing_commercial,3 - assembly,2 - assemblydept,august kasimir solis,2009-12-01,2011-06-01,547 days,0,1,0,0,0,0.15
1524,astra brittany kaufman,ABK3081,astra.brittany.kaufman@dtaa.com,mechanicalengineer,unassigned,1,2 - researchandengineering_commercial,4 - engineering,22 - mechanicalengineering,quinn madeline prince,2009-12-01,2011-06-01,547 days,0,1,0,0,0,0.15
2292,colton yuli ortega,CYO1575,colton.yuli.ortega@dtaa.com,productionlineworker,unassigned,1,6 - manufacturing_government,3 - assembly,4 - assemblydept,kennedy beau alvarez,2009-12-01,2011-06-01,547 days,0,1,0,0,0,0.15
556,quentin anthony hudson,QAH0048,quentin.anthony.hudson@dtaa.com,itadmin,project 37,1,1 - adminstration,5 - security,2 - electronicsecurity,carl garrett morgan,2009-12-01,2011-06-01,547 days,0,1,1,1,0,0.30
492,garth wayne ware,GWW3788,garth.wayne.ware@dtaa.com,salesman,unassigned,1,9 - salesandmarketing_government,2 - sales,6 - regionalsales,martina nina cain,2009-12-01,2011-06-01,547 days,0,1,0,0,0,0.15
1734,kerry alexa washington,KAW3589,kerry.alexa.washington@dtaa.com,scientist,unassigned,1,4 - researchandengineering_government_foreign,2 - research,6 - lab,latifah germane schwartz,2009-12-01,2011-06-01,547 days,0,1,0,0,0,0.15
645,odysseus norman rivera,ONR3291,odysseus.norman.rivera@dtaa.com,productionlineworker,unassigned,1,5 - manufacturing_commercial,3 - assembly,10 - assemblydept,austin joel coleman,2009-12-01,2011-06-01,547 days,0,1,0,0,0,0.15
777,ross chandler graves,RCG0105,ross.chandler.graves@dtaa.com,mechanicalengineer,unassigned,1,2 - researchandengineering_commercial,4 - engineering,2 - mechanicalengineering,yardley aidan vang,2009-12-01,2011-06-01,547 days,0,1,0,0,0,0.15

In [39]:
df.risk_score.describe()

count    4000.000000
mean        0.177462
std         0.124123
min         0.000000
25%         0.150000
50%         0.150000
75%         0.150000
max         0.850000
Name: risk_score, dtype: float64

In [40]:
len(df[df.risk_score>.5])

9

In [41]:
df.to_csv("../data/processed/user_profiles_v0.csv", index=False)