In [1]:
import pandas as pd

In [2]:
df=pd.read_csv(r'C:\Users\vinja\Desktop\BehaviorGaurd-AI\data\raw\logon.csv')

In [3]:
df.head()

                         id                 date     user       pc activity
0  {F3X8-Y2GT43DR-4906OHBL}  01/02/2010 02:19:18  DNS1758  PC-0414    Logon
1  {B4Q0-D0GM24KN-3704MAII}  01/02/2010 02:31:12  DNS1758  PC-0414   Logoff
2  {T7J1-D4HK34KV-5476TCIJ}  01/02/2010 02:34:02  DNS1758  PC-5313    Logon
3  {S4Y6-D8MQ05SA-0759HLIS}  01/02/2010 02:53:30  DNS1758  PC-5313   Logoff
4  {F3P0-E7FH78CV-4874FRGZ}  01/02/2010 04:07:31  DNS1758  PC-0012    Logon

In [4]:
df.shape

(3530285, 5)

In [5]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 3530285 entries, 0 to 3530284
Data columns (total 5 columns):
 #   Column    Dtype
---  ------    -----
 0   id        str
 1   date      str
 2   user      str
 3   pc        str
 4   activity  str
dtypes: str(5)
memory usage: 134.7 MB

In [6]:
df.isna().sum()

id          0
date        0
user        0
pc          0
activity    0
dtype: int64

In [7]:
df.duplicated().sum()

np.int64(0)

In [8]:
#changing the dtype of date column to DateTime
df['date']=pd.to_datetime(df['date'])

In [9]:
df.describe()

                             date
count                     3530285
mean   2010-09-10 19:48:11.003055
min           2010-01-02 02:19:18
25%           2010-05-04 16:56:00
50%           2010-09-08 08:32:00
75%           2011-01-19 06:55:00
max           2011-06-01 07:26:02

In [10]:
df.sample(10)

,id,date,user,pc,activity
2921952,{K2C8-U9WV62CD-6020BRMN},2011-02-28 15:08:00,LKH2512,PC-6591,Logoff
288981,{T3S3-H3SB74MY-9509JXYM},2010-02-10 18:48:00,LPE0270,PC-5186,Logoff
1133938,{G7W2-I9AE79LD-0814MRQM},2010-06-09 10:29:21,CWA2554,PC-4110,Logon
1260899,{U7P6-F4VD62ZX-7310CBLU},2010-06-27 18:07:00,YKW3832,PC-2158,Logoff
3209446,{G9B6-E4OL84OW-5290MRDM},2011-04-11 18:19:00,DMC1438,PC-4011,Logoff
1449857,{J9I6-T9JU01YL-8204BNXR},2010-07-23 17:56:00,MCH3354,PC-0932,Logoff
3245376,{N6U0-I2QV92HP-9975JVDI},2011-04-15 17:54:00,THW1425,PC-6892,Logoff
1447130,{T5Z0-Q4JR62GZ-1859CDCO},2010-07-23 13:54:49,MNR1903,PC-8398,Logon
3517307,{Z3W2-B7IX66WX-9668YRJM},2011-05-27 17:07:00,KDW2929,PC-2426,Logoff
709314,{Q6C4-P0OW45ML-8601JNIF},2010-04-09 17:17:00,OHD2274,PC-4060,Logoff

In [11]:
df['user'].nunique(),df['pc'].nunique()

(4000, 4400)

In [12]:
df['user'].unique()

<StringArray>
['DNS1758', 'ANC1950', 'SAB1954', 'LIM1718', 'LSN1672', 'JEV3132', 'HDB1666',
 'CBA1023', 'LAF2213', 'ROR3483',
 ...
 'RPF2614', 'VRJ0636', 'ABB0167', 'IHD1978', 'SME1984', 'SRN2617', 'VZG2484',
 'HVR0633', 'CJS1986', 'WKG0150']
Length: 4000, dtype: str

In [13]:
df[(df['user']=='DNS1758') & (df['activity']=='Logon')].describe()

                             date
count                        2217
mean   2010-09-15 18:08:44.268380
min           2010-01-02 02:19:18
25%           2010-05-10 23:05:23
50%           2010-09-15 23:42:24
75%           2011-01-22 14:51:58
max           2011-05-31 20:50:55

In [14]:
df[(df['user']=='DNS1758') & (df['activity']=='Logoff')].describe()

                             date
count                        1887
mean   2010-09-15 11:02:38.063593
min           2010-01-02 02:31:12
25%           2010-05-11 08:09:09
50%           2010-09-15 22:10:57
75%           2011-01-22 15:25:00
max           2011-05-31 21:08:15

In [15]:
df['window'] = df['date'].dt.floor('h')

In [16]:
df.head()

,id,date,user,pc,activity,window
0,{F3X8-Y2GT43DR-4906OHBL},2010-01-02 02:19:18,DNS1758,PC-0414,Logon,2010-01-02 02:00:00
1,{B4Q0-D0GM24KN-3704MAII},2010-01-02 02:31:12,DNS1758,PC-0414,Logoff,2010-01-02 02:00:00
2,{T7J1-D4HK34KV-5476TCIJ},2010-01-02 02:34:02,DNS1758,PC-5313,Logon,2010-01-02 02:00:00
3,{S4Y6-D8MQ05SA-0759HLIS},2010-01-02 02:53:30,DNS1758,PC-5313,Logoff,2010-01-02 02:00:00
4,{F3P0-E7FH78CV-4874FRGZ},2010-01-02 04:07:31,DNS1758,PC-0012,Logon,2010-01-02 04:00:00

In [17]:
grouped=df.groupby(['window','user'])

In [18]:
df['is_logon']  = (df['activity'] == 'Logon').astype(int)
df['is_logoff'] = (df['activity'] == 'Logoff').astype(int)

In [19]:
features = df.groupby(['user','window']).agg(
    logon_count = ('is_logon','sum'),
    logoff_count = ('is_logoff','sum'),
    unique_pcs = ('pc','nunique')
).reset_index()

In [20]:
features

            user              window  logon_count  logoff_count  unique_pcs
0        AAB0162 2010-01-04 07:00:00            1             0           1
1        AAB0162 2010-01-04 18:00:00            0             1           1
2        AAB0162 2010-01-05 07:00:00            1             0           1
3        AAB0162 2010-01-05 18:00:00            0             1           1
4        AAB0162 2010-01-06 07:00:00            1             0           1
...          ...                 ...          ...           ...         ...
3366259  ZZO2997 2011-05-26 14:00:00            0             1           1
3366260  ZZO2997 2011-05-27 07:00:00            1             0           1
3366261  ZZO2997 2011-05-27 14:00:00            0             1           1
3366262  ZZO2997 2011-05-31 07:00:00            1             0           1
3366263  ZZO2997 2011-05-31 14:00:00            0             1           1

[3366264 rows x 5 columns]

In [21]:
features[(features['logon_count']==0)&(features['logoff_count']==1)] #checking the count of half sessions

            user              window  logon_count  logoff_count  unique_pcs
1        AAB0162 2010-01-04 18:00:00            0             1           1
3        AAB0162 2010-01-05 18:00:00            0             1           1
5        AAB0162 2010-01-06 18:00:00            0             1           1
7        AAB0162 2010-01-07 18:00:00            0             1           1
9        AAB0162 2010-01-08 18:00:00            0             1           1
...          ...                 ...          ...           ...         ...
3366255  ZZO2997 2011-05-24 14:00:00            0             1           1
3366257  ZZO2997 2011-05-25 14:00:00            0             1           1
3366259  ZZO2997 2011-05-26 14:00:00            0             1           1
3366261  ZZO2997 2011-05-27 14:00:00            0             1           1
3366263  ZZO2997 2011-05-31 14:00:00            0             1           1

[1439501 rows x 5 columns]

In [22]:
features[(features['logon_count']==1)&(features['logoff_count']==0)] #checking the count of half sessions

            user              window  logon_count  logoff_count  unique_pcs
0        AAB0162 2010-01-04 07:00:00            1             0           1
2        AAB0162 2010-01-05 07:00:00            1             0           1
4        AAB0162 2010-01-06 07:00:00            1             0           1
6        AAB0162 2010-01-07 07:00:00            1             0           1
8        AAB0162 2010-01-08 07:00:00            1             0           1
...          ...                 ...          ...           ...         ...
3366254  ZZO2997 2011-05-24 07:00:00            1             0           1
3366256  ZZO2997 2011-05-25 07:00:00            1             0           1
3366258  ZZO2997 2011-05-26 07:00:00            1             0           1
3366260  ZZO2997 2011-05-27 07:00:00            1             0           1
3366262  ZZO2997 2011-05-31 07:00:00            1             0           1

[1803463 rows x 5 columns]

In [23]:
features['logon_count'].unique(),features['logoff_count'].unique()

(array([1, 0, 2, 3, 4, 5]), array([0, 1, 2, 3, 4, 5]))

In [24]:
user_stats = features.groupby('user').agg(
    avg_logon = ('logon_count','mean'),
    std_logon = ('logon_count','std'),
    avg_pcs   = ('unique_pcs','mean'),
    std_pcs=('unique_pcs','std')
)
user_stats

         avg_logon  std_logon  avg_pcs  std_pcs
user
AAB0162   0.499297   0.500351      1.0      0.0
AAB0398   0.500000   0.500351      1.0      0.0
AAC0610   0.633333   0.482124      1.0      0.0
AAC0668   0.500000   0.500351      1.0      0.0
AAC3270   0.500000   0.500351      1.0      0.0
...            ...        ...      ...      ...
ZVB2656   0.500000   0.500351      1.0      0.0
ZVS1637   0.500000   0.500351      1.0      0.0
ZWS3625   0.500000   0.500351      1.0      0.0
ZXM3086   0.500000   0.500351      1.0      0.0
ZZO2997   0.500000   0.500351      1.0      0.0

[4000 rows x 4 columns]

In [25]:
user_stats.describe()

         avg_logon    std_logon      avg_pcs      std_pcs
count  4000.000000  4000.000000  4000.000000  4000.000000
mean      0.558038     0.499832     1.007113     0.038529
std       0.081835     0.019571     0.023546     0.080672
min       0.498592     0.476786     1.000000     0.000000
25%       0.500000     0.494049     1.000000     0.000000
50%       0.500000     0.500351     1.000000     0.000000
75%       0.640404     0.500351     1.003428     0.058482
max       0.896739     0.664649     1.176401     0.487452

In [26]:
user_stats['avg_pcs'].max()

np.float64(1.176401179941003)

In [27]:
features.head()

      user              window  logon_count  logoff_count  unique_pcs
0  AAB0162 2010-01-04 07:00:00            1             0           1
1  AAB0162 2010-01-04 18:00:00            0             1           1
2  AAB0162 2010-01-05 07:00:00            1             0           1
3  AAB0162 2010-01-05 18:00:00            0             1           1
4  AAB0162 2010-01-06 07:00:00            1             0           1

In [28]:
features['hour']=features['window'].dt.hour

In [29]:
features.groupby('hour')['logon_count'].mean()
#checking the mean at each hour in the day by all users

hour
0     1.198852
1     0.855245
2     0.806606
3     0.775210
4     0.735733
5     0.710431
6     0.952959
7     1.003372
8     1.002671
9     0.962839
10    0.919234
11    0.963688
12    0.981879
13    0.976760
14    0.531610
15    0.055518
16    0.018347
17    0.018473
18    0.022106
19    0.076057
20    0.305474
21    0.949044
22    0.979495
23    1.075243
Name: logon_count, dtype: float64

In [30]:
enriched_df=pd.merge(features,user_stats,on='user')
enriched_df

,user,window,logon_count,logoff_count,unique_pcs,hour,avg_logon,std_logon,avg_pcs,std_pcs
0,AAB0162,2010-01-04 07:00:00,1,0,1,7,0.499297,0.500351,1.0,0.0
1,AAB0162,2010-01-04 18:00:00,0,1,1,18,0.499297,0.500351,1.0,0.0
2,AAB0162,2010-01-05 07:00:00,1,0,1,7,0.499297,0.500351,1.0,0.0
3,AAB0162,2010-01-05 18:00:00,0,1,1,18,0.499297,0.500351,1.0,0.0
4,AAB0162,2010-01-06 07:00:00,1,0,1,7,0.499297,0.500351,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...
3366259,ZZO2997,2011-05-26 14:00:00,0,1,1,14,0.500000,0.500351,1.0,0.0
3366260,ZZO2997,2011-05-27 07:00:00,1,0,1,7,0.500000,0.500351,1.0,0.0
3366261,ZZO2997,2011-05-27 14:00:00,0,1,1,14,0.500000,0.500351,1.0,0.0
3366262,ZZO2997,2011-05-31 07:00:00,1,0,1,7,0.500000,0.500351,1.0,0.0
3366263,ZZO2997,2011-05-31 14:00:00,0,1,1,14,0.500000,0.500351,1.0,0.0

In [31]:
enriched_df['z_logon']=(enriched_df['logon_count']-enriched_df['avg_logon'])/enriched_df['std_logon']
enriched_df['z_pcs']=(enriched_df['unique_pcs']-enriched_df['avg_pcs'])/(enriched_df['std_pcs']+0.01)

In [32]:
enriched_df.head()

,user,window,logon_count,logoff_count,unique_pcs,hour,avg_logon,std_logon,avg_pcs,std_pcs,z_logon,z_pcs
0,AAB0162,2010-01-04 07:00:00,1,0,1,7,0.499297,0.500351,1.0,0.0,1.000703,0.0
1,AAB0162,2010-01-04 18:00:00,0,1,1,18,0.499297,0.500351,1.0,0.0,-0.997892,0.0
2,AAB0162,2010-01-05 07:00:00,1,0,1,7,0.499297,0.500351,1.0,0.0,1.000703,0.0
3,AAB0162,2010-01-05 18:00:00,0,1,1,18,0.499297,0.500351,1.0,0.0,-0.997892,0.0
4,AAB0162,2010-01-06 07:00:00,1,0,1,7,0.499297,0.500351,1.0,0.0,1.000703,0.0

In [33]:
enriched_df['night_flag']=(enriched_df['hour']<6)|(enriched_df['hour']>22)

In [34]:
enriched_df[enriched_df['night_flag']==True]

,user,window,logon_count,logoff_count,unique_pcs,hour,avg_logon,std_logon,avg_pcs,std_pcs,z_logon,z_pcs,night_flag
1491,AAC0610,2010-02-06 00:00:00,1,0,1,0,0.633333,0.482124,1.000000,0.000000,0.760523,0.000000,True
1492,AAC0610,2010-02-06 04:00:00,0,1,1,4,0.633333,0.482124,1.000000,0.000000,-1.313631,0.000000,True
1526,AAC0610,2010-02-24 05:00:00,0,1,1,5,0.633333,0.482124,1.000000,0.000000,-1.313631,0.000000,True
1552,AAC0610,2010-03-09 00:00:00,1,0,1,0,0.633333,0.482124,1.000000,0.000000,0.760523,0.000000,True
1553,AAC0610,2010-03-09 04:00:00,0,1,1,4,0.633333,0.482124,1.000000,0.000000,-1.313631,0.000000,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3360949,ZRM0694,2011-04-12 05:00:00,0,1,1,5,0.644048,0.504677,1.019551,0.138493,-1.276160,-0.131666,True
3361012,ZRM0694,2011-05-01 23:00:00,1,0,1,23,0.644048,0.504677,1.019551,0.138493,0.705307,-0.131666,True
3361013,ZRM0694,2011-05-02 05:00:00,0,1,1,5,0.644048,0.504677,1.019551,0.138493,-1.276160,-0.131666,True
3361051,ZRM0694,2011-05-14 00:00:00,1,0,1,0,0.644048,0.504677,1.019551,0.138493,0.705307,-0.131666,True
3361052,ZRM0694,2011-05-14 05:00:00,0,1,1,5,0.644048,0.504677,1.019551,0.138493,-1.276160,-0.131666,True

In [35]:
enriched_df['behavior_score']= 0.4* abs(enriched_df['z_logon']) + 0.35*abs(enriched_df['z_pcs']) + 0.25*enriched_df['night_flag']

In [36]:
0.4* abs(enriched_df['z_logon']) + 0.35*abs(enriched_df['z_pcs']) + 0.25*enriched_df['night_flag']

0          0.400281
1          0.399157
2          0.400281
3          0.399157
4          0.400281
             ...
3366259    0.399719
3366260    0.399719
3366261    0.399719
3366262    0.399719
3366263    0.399719
Length: 3366264, dtype: float64

In [37]:
enriched_df['behavior_score'].describe() #checking the scores

count    3.366264e+06
mean     4.221807e-01
std      2.479288e-01
min      1.910926e-01
25%      3.240445e-01
50%      3.997190e-01
75%      4.002812e-01
max      9.901351e+00
Name: behavior_score, dtype: float64

In [38]:
enriched_df.sort_values('behavior_score', ascending=False).head(10)

,user,window,logon_count,logoff_count,unique_pcs,hour,avg_logon,std_logon,avg_pcs,std_pcs,z_logon,z_pcs,night_flag,behavior_score
807965,DBG0477,2010-03-01 14:00:00,2,1,2,14,0.630687,0.484680,1.000892,0.029867,2.825191,25.060785,False,9.901351
200808,ANF3332,2010-05-10 10:00:00,2,1,2,10,0.634146,0.483759,1.000903,0.030056,2.823417,24.942712,False,9.859316
1183678,GER1997,2010-03-19 13:00:00,2,0,2,13,0.635786,0.483312,1.000908,0.030137,2.822634,24.891766,False,9.841172
323564,BBW0594,2010-06-01 08:00:00,2,1,2,8,0.634742,0.483676,1.000939,0.030643,2.822672,24.581640,False,9.732643
2168343,MGM0569,2011-03-29 08:00:00,2,1,2,8,0.644403,0.480881,1.000941,0.030671,2.818985,24.564182,False,9.725058
2077390,LWB2851,2011-05-17 16:00:00,0,2,2,16,0.641886,0.479637,1.000799,0.028273,-1.338274,26.107218,False,9.672836
3086115,TZM0851,2011-02-03 09:00:00,2,1,2,9,0.644509,0.480902,1.000963,0.031039,2.818643,24.343862,False,9.647809
2177353,MHS2634,2011-02-25 11:00:00,2,1,2,11,0.644814,0.480845,1.000978,0.031281,2.818342,24.200773,False,9.597607
229616,ARC3034,2011-03-09 13:00:00,2,0,2,13,0.642717,0.481486,1.000984,0.031373,2.818947,24.146685,False,9.578919
750718,CTB3481,2010-03-04 09:00:00,2,0,2,9,0.642012,0.481699,1.000986,0.031404,2.819164,24.128603,False,9.572677

In [39]:
enriched_df.head()

,user,window,logon_count,logoff_count,unique_pcs,hour,avg_logon,std_logon,avg_pcs,std_pcs,z_logon,z_pcs,night_flag,behavior_score
0,AAB0162,2010-01-04 07:00:00,1,0,1,7,0.499297,0.500351,1.0,0.0,1.000703,0.0,False,0.400281
1,AAB0162,2010-01-04 18:00:00,0,1,1,18,0.499297,0.500351,1.0,0.0,-0.997892,0.0,False,0.399157
2,AAB0162,2010-01-05 07:00:00,1,0,1,7,0.499297,0.500351,1.0,0.0,1.000703,0.0,False,0.400281
3,AAB0162,2010-01-05 18:00:00,0,1,1,18,0.499297,0.500351,1.0,0.0,-0.997892,0.0,False,0.399157
4,AAB0162,2010-01-06 07:00:00,1,0,1,7,0.499297,0.500351,1.0,0.0,1.000703,0.0,False,0.400281

In [40]:
enriched_df.to_csv('../data/processed/enriched_logon.csv', index=False)

(3366264, 14)