In [1]:
import pandas as pd

In [117]:
df=pd.read_csv('users.csv')

In [118]:
df.shape

(4000, 12)

In [119]:
df.head()

,employee_name,user_id,email,role,projects,business_unit,functional_unit,department,team,supervisor,start_date,end_date
0,Nicholas Fletcher Pruitt,NFP2441,Nicholas.Fletcher.Pruitt@dtaa.com,ITAdmin,NaN,1,1 - Adminstration,5 - Security,8 - ElectronicSecurity,Madison Charissa Malone,2009-12-01 00:00:00,2011-06-01
1,Abraham Dante Rodgers,ADR1517,Abraham.Dante.Rodgers@dtaa.com,ProductionLineWorker,NaN,1,5 - Manufacturing_Commercial,3 - Assembly,4 - AssemblyDept,Mark William Horne,2009-12-01 00:00:00,2011-06-01
2,Medge Wilma Blackburn,MWB4000,Medge.Wilma.Blackburn@dtaa.com,ProductionLineWorker,NaN,1,6 - Manufacturing_Government,3 - Assembly,14 - AssemblyDept,Hillary Zenaida Adkins,2009-12-01 00:00:00,2011-06-01
3,Meghan Laurel Salazar,MLS2856,Meghan.Laurel.Salazar@dtaa.com,ProductionLineWorker,NaN,1,6 - Manufacturing_Government,3 - Assembly,8 - AssemblyDept,Demetria Sage Melendez,2009-12-01 00:00:00,2011-06-01
4,Beau Todd Romero,BTR2026,Beau.Todd.Romero@dtaa.com,MechanicalEngineer,NaN,1,3 - ResearchAndEngineering_Government_Domestic,4 - Engineering,16 - TestAndEvalualtion,Elijah Valentine Fuentes,2009-12-01 00:00:00,2011-06-01

In [120]:
df.isna().sum()

employee_name         0
user_id               0
email                 0
role                  0
projects           3317
business_unit         0
functional_unit       2
department           22
team                158
supervisor            1
start_date            0
end_date              0
dtype: int64

In [121]:
df.duplicated().sum()

0

In [122]:
df.fillna('Unassigned',inplace=True) # 0 means not assigned

In [123]:
df.isna().sum()

employee_name      0
user_id            0
email              0
role               0
projects           0
business_unit      0
functional_unit    0
department         0
team               0
supervisor         0
start_date         0
end_date           0
dtype: int64

In [124]:
df.shape

(4000, 12)

In [125]:
cols=df.columns
cols

Index(['employee_name', 'user_id', 'email', 'role', 'projects',
       'business_unit', 'functional_unit', 'department', 'team', 'supervisor',
       'start_date', 'end_date'],
      dtype='object')

In [126]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   employee_name    4000 non-null   object
 1   user_id          4000 non-null   object
 2   email            4000 non-null   object
 3   role             4000 non-null   object
 4   projects         4000 non-null   object
 5   business_unit    4000 non-null   int64
 6   functional_unit  4000 non-null   object
 7   department       4000 non-null   object
 8   team             4000 non-null   object
 9   supervisor       4000 non-null   object
 10  start_date       4000 non-null   object
 11  end_date         4000 non-null   object
dtypes: int64(1), object(11)
memory usage: 375.1+ KB

In [127]:
df.describe()

       business_unit
count         4000.0
mean             1.0
std              0.0
min              1.0
25%              1.0
50%              1.0
75%              1.0
max              1.0

In [128]:
df.sample(10)

,employee_name,user_id,email,role,projects,business_unit,functional_unit,department,team,supervisor,start_date,end_date
341,Lawrence Jared Ellison,LJE2413,Lawrence.Jared.Ellison@dtaa.com,SecurityGuard,Unassigned,1,1 - Adminstration,5 - Security,7 - BuildingSecurity,Armand Myles Jimenez,2009-12-01 00:00:00,2011-06-01
2770,Carol Sheila Mcpherson,CSM3502,Carol.Sheila.Mcpherson@dtaa.com,SecurityGuard,Unassigned,1,1 - Adminstration,5 - Security,11 - BuildingSecurity,Idona Kathleen Herring,2009-12-01 00:00:00,2011-06-01
558,Stephen Ferdinand Emerson,SFE0723,Stephen.Ferdinand.Emerson@dtaa.com,Scientist,Unassigned,1,4 - ResearchAndEngineering_Government_Foreign,2 - Research,1 - Lab,Jonathan Laith Casey,2009-12-01 00:00:00,2011-06-01
1229,Ivy Rina Paul,IRP3916,Ivy.Rina.Paul@dtaa.com,StockroomClerk,Unassigned,1,5 - Manufacturing_Commercial,3 - Assembly,13 - Stockroom,Winter Adele Hahn,2009-12-01 00:00:00,2011-06-01
1648,Driscoll Ahmed Rowe,DAR0388,Driscoll.Ahmed.Rowe@dtaa.com,AdministrativeAssistant,Unassigned,1,8 - SalesAndMarketing_Commercial,3 - FieldService,1 - RegionalFieldService,Jessamine Madeson Eaton,2009-12-01 00:00:00,2011-06-01
2035,Claire Alice Graves,CAG3622,Claire.Alice.Graves@dtaa.com,StockroomClerk,Unassigned,1,5 - Manufacturing_Commercial,3 - Assembly,11 - Stockroom,Rafael Jeremy Sellers,2009-12-01 00:00:00,2011-06-01
2052,Tamekah Mercedes Valentine,TMV0868,Tamekah.Mercedes.Valentine@dtaa.com,ProductionLineWorker,Unassigned,1,5 - Manufacturing_Commercial,3 - Assembly,2 - AssemblyDept,August Kasimir Solis,2009-12-01 00:00:00,2011-06-01
310,Anika Rylee Barnett,ARB3934,Anika.Rylee.Barnett@dtaa.com,ProductionLineWorker,Unassigned,1,5 - Manufacturing_Commercial,3 - Assembly,14 - AssemblyDept,Keegan Noah Riggs,2009-12-01 00:00:00,2011-06-01
715,Darius Addison Trujillo,DAT1981,Darius.Addison.Trujillo@dtaa.com,MaterialsEngineer,Unassigned,1,3 - ResearchAndEngineering_Government_Domestic,4 - Engineering,14 - MaterialsEngineering,Yasir Davis Moore,2009-12-01 00:00:00,2010-08-01
107,Kiona Maia Castaneda,KMC2028,Kiona.Maia.Castaneda@dtaa.com,Scientist,Unassigned,1,4 - ResearchAndEngineering_Government_Foreign,2 - Research,3 - Lab,Lamar Benjamin Johnston,2009-12-01 00:00:00,2011-06-01

In [130]:
#converting start date and end date to date-time datatype
df['start_date']=pd.to_datetime(df['start_date'])
df['end_date']=pd.to_datetime(df['end_date'])

In [140]:
df['tenure_days']=df['end_date']-df['start_date']

In [149]:
df.describe()

,business_unit,start_date,end_date,tenure_days
count,4000.0,4000,4000,4000
mean,1.0,2009-12-01 00:00:00,2011-05-08 15:02:31.200000,523 days 15:02:31.200000
min,1.0,2009-12-01 00:00:00,2010-02-01 00:00:00,62 days 00:00:00
25%,1.0,2009-12-01 00:00:00,2011-06-01 00:00:00,547 days 00:00:00
50%,1.0,2009-12-01 00:00:00,2011-06-01 00:00:00,547 days 00:00:00
75%,1.0,2009-12-01 00:00:00,2011-06-01 00:00:00,547 days 00:00:00
max,1.0,2009-12-01 00:00:00,2011-06-01 00:00:00,547 days 00:00:00
std,0.0,NaN,NaN,84 days 16:47:02.584472890

In [141]:
#checking the unique values in each column
df['role'].value_counts()

role
productionlineworker        413
electricalengineer          406
technician                  401
salesman                    358
mechanicalengineer          295
stockroomclerk              280
materialsengineer           117
scientist                   113
hardwareengineer            112
systemsengineer             111
mathematician               106
computerscientist           106
securityguard               105
itadmin                     100
physicist                    94
softwaredeveloper            93
computerprogrammer           91
administrativeassistant      84
manager                      80
testengineer                 78
webdeveloper                 74
chiefengineer                72
technicalwriter              57
softwarequalityengineer      42
softwareengineer             38
supervisor                   28
nursepractitioner            27
director                     23
labmanager                   21
fieldserviceengineer         14
projectmanager               12
vicepresident                10
statistician                  6
humanresourcespecialist       6
purchasingclerk               5
engineer                      5
industrialengineer            4
attorney                      3
accountant                    3
nurse                         1
economist                     1
instructionalcoordinator      1
president                     1
financialanalyst              1
healthsafetyengineer          1
administrativestaff           1
Name: count, dtype: int64

In [142]:
df.columns

Index(['employee_name', 'user_id', 'email', 'role', 'projects',
       'business_unit', 'functional_unit', 'department', 'team', 'supervisor',
       'start_date', 'end_date', 'tenure_days'],
      dtype='object')

In [143]:
#converting all columns to lowercase
df.employee_name=df.employee_name.str.lower()
df.email=df.email.str.lower()
df.role=df.role.str.lower()
df.projects=df.projects.str.lower()
df.department=df.department.str.lower()
df.functional_unit=df.functional_unit.str.lower()
df.supervisor=df.supervisor.str.lower()
df.team=df.team.str.lower()

In [144]:
df.sample(5)

,employee_name,user_id,email,role,projects,business_unit,functional_unit,department,team,supervisor,start_date,end_date,tenure_days
310,anika rylee barnett,ARB3934,anika.rylee.barnett@dtaa.com,productionlineworker,unassigned,1,5 - manufacturing_commercial,3 - assembly,14 - assemblydept,keegan noah riggs,2009-12-01,2011-06-01,547 days
3683,galena ella bell,GEB3975,galena.ella.bell@dtaa.com,stockroomclerk,unassigned,1,6 - manufacturing_government,3 - assembly,13 - stockroom,colby kibo guzman,2009-12-01,2011-06-01,547 days
2777,martina nina cain,MNC3485,martina.nina.cain@dtaa.com,manager,project 39,1,9 - salesandmarketing_government,2 - sales,6 - regionalsales,daria emma ramos,2009-12-01,2011-06-01,547 days
954,isaac kirk price,IKP1047,isaac.kirk.price@dtaa.com,itadmin,unassigned,1,1 - adminstration,5 - security,4 - electronicsecurity,timon duncan harrison,2009-12-01,2010-11-01,335 days
140,bethany dora koch,BDK0854,bethany.dora.koch@dtaa.com,productionlineworker,unassigned,1,5 - manufacturing_commercial,3 - assembly,2 - assemblydept,august kasimir solis,2009-12-01,2011-06-01,547 days

checking unique values in each column

In [145]:
df['role'].unique()

array(['itadmin', 'productionlineworker', 'mechanicalengineer', 'manager',
       'materialsengineer', 'computerscientist', 'systemsengineer',
       'hardwareengineer', 'securityguard', 'technician',
       'stockroomclerk', 'scientist', 'chiefengineer', 'mathematician',
       'electricalengineer', 'physicist', 'technicalwriter',
       'fieldserviceengineer', 'salesman', 'webdeveloper',
       'softwarequalityengineer', 'supervisor', 'testengineer',
       'purchasingclerk', 'administrativeassistant', 'projectmanager',
       'computerprogrammer', 'softwareengineer', 'nursepractitioner',
       'director', 'engineer', 'softwaredeveloper', 'vicepresident',
       'industrialengineer', 'statistician', 'nurse', 'economist',
       'humanresourcespecialist', 'labmanager',
       'instructionalcoordinator', 'president', 'financialanalyst',
       'attorney', 'healthsafetyengineer', 'administrativestaff',
       'accountant'], dtype=object)

In [146]:
df['projects'].unique()

array(['unassigned', 'project 31', 'project 13', 'project 1', 'project 0',
       'project 73', 'project 80', 'project 46', 'project 21',
       'project 43', 'project 47', 'project 91', 'project 23',
       'project 12', 'project 4', 'project 7', 'project 30', 'project 68',
       'project 50', 'project 57', 'project 75', 'project 16',
       'project 20', 'project 32', 'project 61', 'project 48',
       'project 29', 'project 28', 'project 44', 'project 10',
       'project 63', 'project 60', 'project 2', 'project 40',
       'project 38', 'project 22', 'project 6', 'project 59',
       'project 36', 'project 11', 'project 39', 'project 55',
       'project 9', 'project 42', 'project 56', 'project 27',
       'project 88', 'project 62', 'project 95', 'project 34',
       'project 45', 'project 64', 'project 25', 'project 33',
       'project 71', 'project 97', 'project 17', 'project 5',
       'project 82', 'project 53', 'project 79', 'project 37',
       'project 96', 'project 81', 'project 49', 'project 70',
       'project 89', 'project 26', 'project 77', 'project 83',
       'project 78', 'project 52', 'project 69', 'project 92',
       'project 35', 'project 76', 'project 84', 'project 93',
       'project 87', 'project 15', 'project 41', 'project 24',
       'project 66', 'project 72', 'project 19', 'project 58',
       'project 14', 'project 8', 'project 90', 'project 3', 'project 18',
       'project 94', 'project 67', 'project 74', 'project 54',
       'project 85', 'project 86', 'project 65', 'project 98',
       'project 51'], dtype=object)

In [147]:
df['team'].unique()

array(['8 - electronicsecurity', '4 - assemblydept', '14 - assemblydept',
       '8 - assemblydept', '16 - testandevalualtion',
       '5 - desktopsoftware', '14 - materialsengineering',
       '10 - systemsengineering', '24 - systemsengineering',
       '6 - embeddedsoftware', '8 - desktopsoftware',
       '7 - buildingsecurity', '6 - regionalfieldservice',
       '7 - stockroom', '1 - regionalfieldservice',
       '4 - regionalfieldservice', '3 - lab', '3 - regionalfieldservice',
       '1 - stockroom', '23 - electricalengineering', '7 - lab',
       '5 - systemsengineering', '18 - electricalengineering',
       '13 - stockroom', '3 - electricalengineering',
       '25 - systemsengineering', '1 - publications', '6 - lab',
       '20 - systemsengineering', '3 - regionalsales',
       '12 - mechanicalengineering', '9 - websoftware',
       '6 - assemblydept', 'unassigned', '1 - sqa', '4 - websoftware',
       '5 - stockroom', '11 - testandevalualtion',
       '12 - buildingsecurity', '1 - lab', '2 - regionalsales',
       '4 - regionalsales', '15 - systemsengineering',
       '22 - mechanicalengineering', '7 - websoftware',
       '4 - materialsengineering', '8 - electricalengineering',
       '6 - testandevalualtion', '17 - mechanicalengineering', '2 - lab',
       '5 - regionalsales', '9 - stockroom', '12 - assemblydept',
       '1 - regionalsales', '4 - lab', '10 - assemblydept',
       '3 - stockroom', '5 - buildingsecurity',
       '2 - regionalfieldservice', '9 - materialsengineering',
       '6 - regionalsales', '5 - lab', '5 - regionalfieldservice',
       '2 - mechanicalengineering', '2 - electronicsecurity',
       '3 - embeddedsoftware', '21 - testandevalualtion',
       '2 - assemblydept', '3 - buildingsecurity',
       '10 - electronicsecurity', '7 - mechanicalengineering',
       '2 - desktopsoftware', '4 - electronicsecurity', '11 - stockroom',
       '13 - electricalengineering', '7 - medical', '5 - medical',
       '1 - buildingsecurity', '6 - medical', '10 - websoftware',
       '19 - materialsengineering', '1 - medical', '7 - regionalsales',
       '9 - buildingsecurity', '11 - buildingsecurity',
       '6 - electronicsecurity', '3 - medical', '4 - medical',
       '2 - medical', '7 - regionalfieldservice'], dtype=object)

In [148]:
df.department.unique()

array(['5 - security', '3 - assembly', '4 - engineering',
       '3 - softwaremanagement', '3 - fieldservice', '2 - research',
       '2 - sales', '2 - manufacturingengineering', '2 - pricing',
       '1 - purchasing', '1 - projectmanagement', '1 - accounting',
       'unassigned', '4 - safety', '4 - qualitycontrol',
       '1 - marketanalysis', '1 - industrialengineering',
       '3 - financialplanning', '2 - employeerelations', '1 - personnel',
       '3 - training', '3 - contracts', '2 - payroll'], dtype=object)

Adding new features

In [152]:
admin_roles = [
    'itadmin', 'president', 'vicepresident', 'director', 
    'chiefengineer', 'manager', 'accountant', 'attorney', 
    'humanresourcespecialist', 'systemsengineer', 'securityguard', 
    'financialanalyst', 'administrativeassistant', 'projectmanager',
    'labmanager', 'purchasingclerk', 'supervisor'
]

In [171]:
# 1. Strip whitespace from strings just in case
df['role'] = df['role'].str.strip()
df['supervisor'] = df['supervisor'].str.strip()
df['projects'] = df['projects'].str.strip()

# 2. Tenure check (is_new)
df['is_new'] = (df['tenure_days'].dt.days < 100).astype(int)

# 3. Supervisor and Project checks (using != 'unassigned')
df['has_supervisor'] = (df['supervisor'] != 'unassigned').astype(int)
df['has_project'] = (df['projects'] != 'unassigned').astype(int)

# 4. Privileged check (using .isin)
df['is_previliged'] = df['role'].isin(admin_roles).astype(int)

# 5. Rare Role check (count occurrences across the whole column)
# This maps the value_counts back to the original rows
role_counts = df['role'].value_counts()
df['rare_role'] = df['role'].map(role_counts).le(5).astype(int)

In [172]:
df.head()

,employee_name,user_id,email,role,projects,business_unit,functional_unit,department,team,supervisor,start_date,end_date,tenure_days,has_supervisor,has_project,is_new,is_previliged,rare_role
0,nicholas fletcher pruitt,NFP2441,nicholas.fletcher.pruitt@dtaa.com,itadmin,unassigned,1,1 - adminstration,5 - security,8 - electronicsecurity,madison charissa malone,2009-12-01,2011-06-01,547 days,1,0,0,1,0
1,abraham dante rodgers,ADR1517,abraham.dante.rodgers@dtaa.com,productionlineworker,unassigned,1,5 - manufacturing_commercial,3 - assembly,4 - assemblydept,mark william horne,2009-12-01,2011-06-01,547 days,1,0,0,0,0
2,medge wilma blackburn,MWB4000,medge.wilma.blackburn@dtaa.com,productionlineworker,unassigned,1,6 - manufacturing_government,3 - assembly,14 - assemblydept,hillary zenaida adkins,2009-12-01,2011-06-01,547 days,1,0,0,0,0
3,meghan laurel salazar,MLS2856,meghan.laurel.salazar@dtaa.com,productionlineworker,unassigned,1,6 - manufacturing_government,3 - assembly,8 - assemblydept,demetria sage melendez,2009-12-01,2011-06-01,547 days,1,0,0,0,0
4,beau todd romero,BTR2026,beau.todd.romero@dtaa.com,mechanicalengineer,unassigned,1,3 - researchandengineering_government_domestic,4 - engineering,16 - testandevalualtion,elijah valentine fuentes,2009-12-01,2011-06-01,547 days,1,0,0,0,0

In [173]:
(df['role']=='itadmin').sum()

100

In [174]:
df.describe()

,business_unit,start_date,end_date,tenure_days,has_supervisor,has_project,is_new,is_previliged,rare_role
count,4000.0,4000,4000,4000,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000
mean,1.0,2009-12-01 00:00:00,2011-05-08 15:02:31.200000,523 days 15:02:31.200000,0.999750,0.170750,0.012000,0.166250,0.006750
min,1.0,2009-12-01 00:00:00,2010-02-01 00:00:00,62 days 00:00:00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.0,2009-12-01 00:00:00,2011-06-01 00:00:00,547 days 00:00:00,1.000000,0.000000,0.000000,0.000000,0.000000
50%,1.0,2009-12-01 00:00:00,2011-06-01 00:00:00,547 days 00:00:00,1.000000,0.000000,0.000000,0.000000,0.000000
75%,1.0,2009-12-01 00:00:00,2011-06-01 00:00:00,547 days 00:00:00,1.000000,0.000000,0.000000,0.000000,0.000000
max,1.0,2009-12-01 00:00:00,2011-06-01 00:00:00,547 days 00:00:00,1.000000,1.000000,1.000000,1.000000,1.000000
std,0.0,NaN,NaN,84 days 16:47:02.584472890,0.015811,0.376337,0.108899,0.372351,0.081891

defining the weights and formula for risk score

In [184]:
df['risk_score']=0.3*df['is_previliged']+.2*df['rare_role']+.2*(1-df['has_supervisor'])+.15*df['is_new']+.15*(1-df['has_project'])

In [185]:
df.sample(10)

,employee_name,user_id,email,role,projects,business_unit,functional_unit,department,team,supervisor,start_date,end_date,tenure_days,has_supervisor,has_project,is_new,is_previliged,rare_role,risk_score
3900,vincent marsden norman,VMN0743,vincent.marsden.norman@dtaa.com,computerscientist,unassigned,1,4 - researchandengineering_government_foreign,3 - softwaremanagement,2 - desktopsoftware,andrew tobias hoover,2009-12-01,2011-06-01,547 days,1,0,0,0,0,0.15
46,janna ima gibbs,JIG1936,janna.ima.gibbs@dtaa.com,webdeveloper,project 46,1,3 - researchandengineering_government_domestic,3 - softwaremanagement,9 - websoftware,patience raya holt,2009-12-01,2011-06-01,547 days,1,1,0,0,0,0.00
3127,cedric samuel clements,CSC0233,cedric.samuel.clements@dtaa.com,administrativeassistant,unassigned,1,4 - researchandengineering_government_foreign,3 - softwaremanagement,2 - desktopsoftware,andrew tobias hoover,2009-12-01,2011-06-01,547 days,1,0,0,1,0,0.45
2029,haley gemma holcomb,HGH0727,haley.gemma.holcomb@dtaa.com,softwarequalityengineer,project 47,1,4 - researchandengineering_government_foreign,3 - softwaremanagement,1 - sqa,rose angela salas,2009-12-01,2011-06-01,547 days,1,1,0,0,0,0.00
3924,blake john english,BJE0351,blake.john.english@dtaa.com,engineer,project 56,1,6 - manufacturing_government,4 - qualitycontrol,unassigned,ulric channing gross,2009-12-01,2011-02-01,427 days,1,1,0,0,1,0.20
922,christopher samuel meadows,CSM1565,christopher.samuel.meadows@dtaa.com,productionlineworker,unassigned,1,6 - manufacturing_government,3 - assembly,4 - assemblydept,kennedy beau alvarez,2009-12-01,2011-06-01,547 days,1,0,0,0,0,0.15
2803,alyssa nelle hester,ANH3059,alyssa.nelle.hester@dtaa.com,physicist,unassigned,1,2 - researchandengineering_commercial,2 - research,5 - lab,zelda zelenia owens,2009-12-01,2011-06-01,547 days,1,0,0,0,0,0.15
234,vivian quintessa stokes,VQS3246,vivian.quintessa.stokes@dtaa.com,systemsengineer,unassigned,1,4 - researchandengineering_government_foreign,4 - engineering,24 - systemsengineering,oliver brock howe,2009-12-01,2011-06-01,547 days,1,0,0,1,0,0.45
799,harlan lionel spencer,HLS2098,harlan.lionel.spencer@dtaa.com,electricalengineer,unassigned,1,4 - researchandengineering_government_foreign,4 - engineering,13 - electricalengineering,barrett ulysses shepherd,2009-12-01,2011-06-01,547 days,1,0,0,0,0,0.15
625,mary darryl hines,MDH0211,mary.darryl.hines@dtaa.com,projectmanager,project 73,1,4 - researchandengineering_government_foreign,1 - projectmanagement,unassigned,kermit sebastian watts,2009-12-01,2011-06-01,547 days,1,1,0,1,0,0.30

In [186]:
df.risk_score.describe()

count    4000.000000
mean        0.177462
std         0.124123
min         0.000000
25%         0.150000
50%         0.150000
75%         0.150000
max         0.850000
Name: risk_score, dtype: float64

In [188]:
len(df[df.risk_score>.5])

9

In [190]:
df.to_csv("user_profiles_v0.csv", index=False)