In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import IsolationForest

In [2]:
df=pd.read_csv("enriched_logon.csv")
df.head()

,user,window,logon_count,logoff_count,unique_pcs,hour,avg_logon,std_logon,avg_pcs,std_pcs,z_logon,z_pcs,night_flag,behavior_score
0,AAB0162,2010-01-04 07:00:00,1,0,1,7,0.499297,0.500351,1.0,0.0,1.000703,0.0,False,0.400281
1,AAB0162,2010-01-04 18:00:00,0,1,1,18,0.499297,0.500351,1.0,0.0,-0.997892,0.0,False,0.399157
2,AAB0162,2010-01-05 07:00:00,1,0,1,7,0.499297,0.500351,1.0,0.0,1.000703,0.0,False,0.400281
3,AAB0162,2010-01-05 18:00:00,0,1,1,18,0.499297,0.500351,1.0,0.0,-0.997892,0.0,False,0.399157
4,AAB0162,2010-01-06 07:00:00,1,0,1,7,0.499297,0.500351,1.0,0.0,1.000703,0.0,False,0.400281

In [33]:
df['behavior_score'].describe()

count    3.366264e+06
mean     4.221807e-01
std      2.479288e-01
min      1.910926e-01
25%      3.240445e-01
50%      3.997190e-01
75%      4.002812e-01
max      9.901351e+00
Name: behavior_score, dtype: float64

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3366264 entries, 0 to 3366263
Data columns (total 14 columns):
 #   Column          Dtype
---  ------          -----
 0   user            object
 1   window          object
 2   logon_count     int64
 3   logoff_count    int64
 4   unique_pcs      int64
 5   hour            int64
 6   avg_logon       float64
 7   std_logon       float64
 8   avg_pcs         float64
 9   std_pcs         float64
 10  z_logon         float64
 11  z_pcs           float64
 12  night_flag      bool
 13  behavior_score  float64
dtypes: bool(1), float64(7), int64(4), object(2)
memory usage: 337.1+ MB

In [4]:
X = df[[
  'logon_count',
  'logoff_count',
  'unique_pcs',
  'hour',
  'z_logon',
  'z_pcs',
  'night_flag'
]]

In [5]:
X.head()

   logon_count  logoff_count  unique_pcs  hour   z_logon  z_pcs  night_flag
0            1             0           1     7  1.000703    0.0       False
1            0             1           1    18 -0.997892    0.0       False
2            1             0           1     7  1.000703    0.0       False
3            0             1           1    18 -0.997892    0.0       False
4            1             0           1     7  1.000703    0.0       False

In [6]:
std=StandardScaler()

In [7]:
df_std=std.fit_transform(X)

In [8]:
model=IsolationForest()

In [9]:
pred=model.fit_predict(df_std)

In [10]:
df['behavior_score']

0          0.400281
1          0.399157
2          0.400281
3          0.399157
4          0.400281
             ...
3366259    0.399719
3366260    0.399719
3366261    0.399719
3366262    0.399719
3366263    0.399719
Name: behavior_score, Length: 3366264, dtype: float64

In [11]:
sample=df.copy()

In [12]:
sample['pred']=pred

In [13]:
sample[['behavior_score', 'pred']].describe()

       behavior_score          pred
count    3.366264e+06  3.366264e+06
mean     4.221807e-01  7.976219e-01
std      2.479288e-01  6.031578e-01
min      1.910926e-01 -1.000000e+00
25%      3.240445e-01  1.000000e+00
50%      3.997190e-01  1.000000e+00
75%      4.002812e-01  1.000000e+00
max      9.901351e+00  1.000000e+00

In [14]:
sample[sample['pred'] == -1][['behavior_score', 'pred']]

         behavior_score  pred
1491           0.554209    -1
1492           0.775453    -1
1525           0.304209    -1
1526           0.775453    -1
1552           0.554209    -1
...                 ...   ...
3361078        0.556547    -1
3361093        2.593057    -1
3361097        0.328206    -1
3361099        3.385644    -1
3361100        0.556547    -1

[340629 rows x 2 columns]

In [31]:
sample[sample['pred'] == 1][['behavior_score', 'pred']]

         behavior_score  pred
0              0.400281     1
1              0.399157     1
2              0.400281     1
3              0.399157     1
4              0.400281     1
...                 ...   ...
3366259        0.399719     1
3366260        0.399719     1
3366261        0.399719     1
3366262        0.399719     1
3366263        0.399719     1

[3025635 rows x 2 columns]

In [37]:
sample[sample['behavior_score']==sample['behavior_score'].max()]

,user,window,logon_count,logoff_count,unique_pcs,hour,avg_logon,std_logon,avg_pcs,std_pcs,z_logon,z_pcs,night_flag,behavior_score,pred
807965,DBG0477,2010-03-01 14:00:00,2,1,2,14,0.630687,0.48468,1.000892,0.029867,2.825191,25.060785,False,9.901351,-1

In [15]:
sample['pred'].value_counts()

pred
 1    3025635
-1     340629
Name: count, dtype: int64

In [16]:
379340/2986924*100

12.700021828476386

In [17]:
sample[sample['pred']==-1][['z_logon','z_pcs','hour','night_flag','behavior_score','pred']].head(20)

       z_logon  z_pcs  hour  night_flag  behavior_score  pred
1491  0.760523    0.0     0        True        0.554209    -1
1492 -1.313631    0.0     4        True        0.775453    -1
1525  0.760523    0.0    21       False        0.304209    -1
1526 -1.313631    0.0     5        True        0.775453    -1
1552  0.760523    0.0     0        True        0.554209    -1
1553 -1.313631    0.0     4        True        0.775453    -1
1621  0.760523    0.0     5        True        0.554209    -1
1622 -1.313631    0.0     6       False        0.525453    -1
1680  0.760523    0.0     1        True        0.554209    -1
1681 -1.313631    0.0     3        True        0.775453    -1
1699  0.760523    0.0     0        True        0.554209    -1
1700 -1.313631    0.0     6       False        0.525453    -1
1777  0.760523    0.0    22       False        0.304209    -1
1778 -1.313631    0.0     6       False        0.525453    -1
1790  0.760523    0.0    20       False        0.304209    -1
1791 -1.313631    0.0     4        True        0.775453    -1
1794  0.760523    0.0    21       False        0.304209    -1
1795 -1.313631    0.0     6       False        0.525453    -1
1865  0.760523    0.0    23        True        0.554209    -1
1866 -1.313631    0.0     0        True        0.775453    -1

manually checking the values to validate the pred value from the model

In [40]:
sample['behavior_score'].corr(sample['pred'])

-0.281100246748633

Testing performance of various IF models

In [18]:
contamination = [0.01, 0.03]
n_estimators = [100, 200]
max_samples = ['auto']

In [19]:
model1=IsolationForest(n_estimators=100,contamination=0.01,max_samples='auto')

In [21]:
pred=model1.fit_predict(df_std)

In [22]:
dummy1=df.copy()
dummy1['result of model 1']=pred

In [23]:
dummy1.head()

,user,window,logon_count,logoff_count,unique_pcs,hour,avg_logon,std_logon,avg_pcs,std_pcs,z_logon,z_pcs,night_flag,behavior_score,result of model 1
0,AAB0162,2010-01-04 07:00:00,1,0,1,7,0.499297,0.500351,1.0,0.0,1.000703,0.0,False,0.400281,1
1,AAB0162,2010-01-04 18:00:00,0,1,1,18,0.499297,0.500351,1.0,0.0,-0.997892,0.0,False,0.399157,1
2,AAB0162,2010-01-05 07:00:00,1,0,1,7,0.499297,0.500351,1.0,0.0,1.000703,0.0,False,0.400281,1
3,AAB0162,2010-01-05 18:00:00,0,1,1,18,0.499297,0.500351,1.0,0.0,-0.997892,0.0,False,0.399157,1
4,AAB0162,2010-01-06 07:00:00,1,0,1,7,0.499297,0.500351,1.0,0.0,1.000703,0.0,False,0.400281,1

In [24]:
dummy1['result of model 1'].value_counts()

result of model 1
 1    3332713
-1      33551
Name: count, dtype: int64

In [61]:
33551/(3332712+33551)*100   #checking %anamolies

0.9966838598172514

In [30]:
dummy1[dummy1['result of model 1']==-1][['behavior_score','result of model 1']]

         behavior_score  result of model 1
5948           4.060828                 -1
5960           4.886550                 -1
6073           4.060828                 -1
11083          4.566462                 -1
11384          2.369941                 -1
...                 ...                ...
3360312        2.593057                 -1
3360485        3.385644                 -1
3360511        3.385644                 -1
3360599        3.385644                 -1
3361021        3.385644                 -1

[33551 rows x 2 columns]

In [47]:
dummy1[dummy1['result of model 1']==-1]['behavior_score'].describe()

count    33551.000000
mean         1.805900
std          1.248881
min          0.441093
25%          0.875634
50%          1.512351
75%          2.793658
max          9.901351
Name: behavior_score, dtype: float64

In [39]:
dummy1['behavior_score'].corr(dummy1['result of model 1'])

-0.5599831399254327

In [44]:
dummy1[dummy1['result of model 1']==-1][['z_logon','z_pcs','hour','night_flag','behavior_score','result of model 1']].head(30)

,z_logon,z_pcs,hour,night_flag,behavior_score,result of model 1
5948,0.730230,10.767818,17,False,4.060828,-1
5960,2.794534,10.767818,11,False,4.886550,-1
6073,0.730230,10.767818,17,False,4.060828,-1
11083,0.971508,11.936738,16,False,4.566462,-1
11384,0.895008,5.748392,16,False,2.369941,-1
11445,0.895008,5.748392,16,False,2.369941,-1
11500,0.895008,5.748392,16,False,2.369941,-1
11630,0.895008,5.748392,16,False,2.369941,-1
11810,0.895008,5.748392,16,False,2.369941,-1
11852,0.895008,5.748392,16,False,2.369941,-1
11863,0.895008,5.748392,16,False,2.369941,-1
12201,0.895008,5.748392,16,False,2.369941,-1
15335,0.685798,6.379667,17,False,2.507203,-1
15400,2.716329,6.379667,8,False,3.319415,-1
15419,2.716329,6.379667,8,False,3.319415,-1
15481,0.685798,6.379667,17,False,2.507203,-1
15513,0.685798,6.379667,17,False,2.507203,-1
15556,2.716329,6.379667,8,False,3.319415,-1
15592,0.685798,6.379667,17,False,2.507203,-1
15636,0.685798,6.379667,17,False,2.507203,-1
15650,0.685798,6.379667,17,False,2.507203,-1
15699,2.716329,6.379667,13,False,3.319415,-1
15841,0.685798,6.379667,17,False,2.507203,-1
15902,2.716329,6.379667,8,False,3.319415,-1
15914,2.716329,6.379667,13,False,3.319415,-1
16020,4.746860,12.885915,8,False,6.408814,-1
16023,2.716329,6.379667,8,False,3.319415,-1
16088,0.685798,6.379667,17,False,2.507203,-1
16119,2.716329,6.379667,11,False,3.319415,-1
16132,0.685798,6.379667,17,False,2.507203,-1

preparing 2nd test model

In [48]:
model2=IsolationForest(n_estimators=200,contamination=.03,max_samples='auto')

In [49]:
pred2=model2.fit_predict(df_std)

In [51]:
dummy2=df.copy()
dummy2['pred2']=pred2
dummy2[dummy2['pred2']==-1][['behavior_score','pred2']].describe()

       behavior_score     pred2
count   100981.000000  100981.0
mean         1.148062      -1.0
std          1.127911       0.0
min          0.191093      -1.0
25%          0.466422      -1.0
50%          0.658923      -1.0
75%          1.452991      -1.0
max          9.901351      -1.0

In [52]:
dummy2['behavior_score'].corr(dummy2['pred2'])

-0.5148704255269452

In [55]:
dummy2[dummy2['pred2']==-1][['z_logon','z_pcs','hour','night_flag','behavior_score','pred2']].sample(20)

          z_logon      z_pcs  hour  night_flag  behavior_score  pred2
1749693  0.237567  -0.342272    22       False        0.214822     -1
1975146  0.250253  -0.301590     1        True        0.455658     -1
2658245  0.241037  -0.334914     1        True        0.463634     -1
42824    2.738321   6.979687    12       False        3.538219     -1
2967367  1.842759   4.041937    21       False        2.151782     -1
500492   0.305531  -0.325427     0        True        0.486112     -1
2837132  0.263666  -0.334201    22       False        0.222437     -1
1150381  0.321960  -0.310973     0        True        0.487625     -1
561992   1.823476   1.877891    17       False        1.386653     -1
2936006  0.290632  -0.310006     2        True        0.474755     -1
1062268  0.245672  -0.326373     5        True        0.462499     -1
1460300  2.933055  10.661946     8       False        4.904903     -1
1378808 -1.003473  -0.079353     1        True        0.679162     -1
30961    0.899581  -0.131747     3        True        0.655944     -1
1478668  1.823789   3.950745    17       False        2.112276     -1
2699282  0.256183  -0.352475    22       False        0.225839     -1
2666524  0.717291  -0.103853     2        True        0.573265     -1
609123   0.248974  -0.338741     0        True        0.468149     -1
138451  -1.342928   5.125867    15       False        2.331224     -1
1003606  0.223125  -0.325087     3        True        0.453030     -1

In [58]:
dummy2['pred2'].value_counts()

pred2
 1    3265283
-1     100981
Name: count, dtype: int64

In [60]:
100981/(100981+3265283)*100

2.999794430858661